/* 初始化样式 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
img{
    /* 去除默认样式 */
    display: block;
}
body{
    background-color: #f5f5f5;
}

/* 页头样式 */
header{
    background-color: #242424;
    overflow: hidden;
}
.header{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    margin: 0 10%;
}
.header .logo-container{
    /* 初始宽度50px高度自适应 */
    flex-basis: 50px;
}
.header .logo-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.header .title a{
    margin-left: 10px;
    color: #eee;
    font-size: 35px;
    font-weight: 800;
    font-family: "宋体";
}
.header .title-nav{
    margin-left: 10px;
    display: flex;
}
.header .title-nav ul{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}
.header .title-nav ul li{
    display: block;
    padding: 0 16px;
    height: 100%;
}
.header .title-nav ul li a{
    display: block;
    color: #eee;
    height: 100%;

}
.header .title-nav ul li a:hover{
    color: orange;
    border-bottom: 1px solid #fff;
}
.header .search-content{
    position: relative;
    flex: 1;
    margin: 0 20px;
}
.header .search-content input{
    width: 100%;
    line-height: 40px;
    border-radius: 20px;
    text-indent: 2em;
    border: transparent;
}
.header .search-content .search{
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0,-50%);
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 20px;
    cursor: pointer;
}
.header .create{
    display: inline-block;
    border: 1px solid #999;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 15px;
    color: #eee;
    cursor: pointer;
}
.err-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.err-container h2{
    margin-top: 30px;
    color: orange;
    text-align: center;
}
.err-container img{
    padding-top: 30px;
    width: 50%;
}
.err-container p a{
    display: inline-block;
    color: #666;
    font-size: 25px;
    padding-top: 20px;
    border-bottom: 1px solid #000;
}
@media only screen and (max-width:1200px){
    .header{
        padding: 8px 15px;
        margin: 0 5%;
    }
    .header .title-nav{
        display: none;
    }
}
@media only screen and (max-width:800px){
    .header{
        padding: 5px 0;
        padding-right: 10px;
        margin:0 1%;
    }
    .header .title{
        display: none;
    }
    .header .create{
        display: none;
    }
}